@using OpenRpg.Core.Common

<h4 class="title is-4">Locale Details</h4>
<div class="field is-horizontal">
    <div class="field-label">
        <label class="label has-text-light">Name Locale Identifier</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="Generated Field" value="@LocaleData.NameLocaleId" 
                       disabled="@true" readonly="@true" />
            </div>
        </div>
        <div class="field">
            <a class="button is-info" @onclick="ShowNameModal">Edit Locales</a>
            <LocaleEditorModal LocaleId="@LocaleData.NameLocaleId" @bind-IsActive="IsNameModalActive"></LocaleEditorModal>
        </div>
    </div>
</div>
<div class="field is-horizontal">
    <div class="field-label">
        <label class="label has-text-light">Name Description Identifier</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="Generated Field" value="@LocaleData.DescriptionLocaleId" 
                       disabled="@true" readonly="@true" />
            </div>
        </div>
        <div class="field">
            <a class="button is-info" @onclick="ShowDescriptionModal">Edit Locales</a>
            <LocaleEditorModal LocaleId="@LocaleData.DescriptionLocaleId" @bind-IsActive="IsDescriptionModalActive"></LocaleEditorModal>
        </div>
    </div>
</div>

@functions {
    [Parameter]
    public IHasLocaleDescription LocaleData { get; set; }

    bool IsNameModalActive { get; set; }
    bool IsDescriptionModalActive { get; set; }

    void ShowNameModal()
    {
        IsNameModalActive = true;
        StateHasChanged();
    }
    
    void ShowDescriptionModal()
    {
        IsDescriptionModalActive = true;
        StateHasChanged();
    }
}
