@using OpenRpg.Core.Races
@using OpenRpg.Core.Classes
@using OpenRpg.Core.Extensions

<div class="has-text-centered">
    <h2 class="title has-text-dark">@(Name ?? "Unnamed Person")</h2>
    @if(Class != null)
    {
    <h3 class="subtitle has-text-dark">@($"Level {Class?.Data.Variables.Level().ToString() ?? "1"} {Race.Template?.NameLocaleId ?? "Unknown Race"} {Class?.Template?.NameLocaleId ?? "Unknown Class"}")</h3>
    }
    @if(@Classes != null)
    {
        <h3 class="subtitle has-text-dark">@($"{Race?.Template.NameLocaleId ?? "Unknown Race"}")</h3>
        <div class="columns">
        @foreach (var _class in @Classes)
         {
             <div class="column">
                 <TagLabel Label="@($"Level {_class?.Data.Variables.Level().ToString() ?? "1"}")" Content="@($"{_class?.Template?.NameLocaleId ?? "Unknown Class"}")" Centered="true"></TagLabel>
             </div>
         }
        </div>
    }
</div>

@code {
    
    [Parameter] public string Name { get; set; }
    [Parameter] public Race Race { get; set; }
    [Parameter] public Class Class { get; set; }
    [Parameter] public IEnumerable<Class> Classes { get; set; }
}